/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  background-color: rgb(194, 237, 240);
  margin: 0;
  height: 100%;
  }
.c-site-header{
  position: fixed;
  margin-top: 0%;
  margin-left: 90%;
  font-size: 20px;
}
#img-contact{
    margin-left: 5%;
  width: 200px;
  height: 70px;
}
#title{
 margin-top: 2%;
 text-align: center;
 font-size: 60px;
 font-family: monospace, Lobster;

}
.description{
  background-color: rgb(245, 245, 228);
  text-align: center;
  font-family: monospace, Lobster;
}
#img{
 margin-top: 0;
    margin-left: 32%;
}
#explain{
  text-align: justify;
  font-family: Lobster;
    }

.c-site-footer{
  font-size: 30px;
    margin-left: 2%;
}
#img-insta{
  width: 50px;
  height: 50px;
}
#img-twit{
  width: 90px;
  height: 50px;
}
/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
